<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<ul>
<%for(let i=0;i<food.length;i++){%>
  <li><a href="/FoodIndex/<%=food[i]._id%>"><%=food[i].name%></a></li>
<%}%>
</ul>
  </body>
</html>
