<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/food.css">
  </head>
  <body>
<ul>
<%for(let i=0;i<food.length;i++){%>
  <h3><li><a href="/FoodIndex/<%=food[i]._id%>"><%=food[i].name%></a></li></h3>
<%}%>
</ul>
  </body>
</html>
