<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/Nutriton/Results/' method="POST">
        <input type="text" name="" value="">
    </form>
</html>
