<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method='POST' action="/login/">
    Create new user name<input type="text" name="username">
          <button>Click to create login</button>
        </form>
  </body>
</html>
