<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    This User name is already taken
  </body>
    <form method='get' action="/login/">
      <button>Back to create user page</button>
    </form>

</html>
