<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method='POST' action="/login/">
    Enter your name<input type="text" name="name"><br/>
    Select a user name<input type="text" name="username"><br/>
    <input type="hidden" name="status" value="Active">
          <button>Proceed to nutrition calculator</button>
    </form>
  </body>
</html>
