<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/foodshow.css">
  </head>
  <body>
    <form action="/Nutrition/<%=userInfo[0]._id%>" method="post">
      <h3>Name: <input type="text" name="name" required><br/></h3>
      <h3>Calories:  <input type="text" name="calories" required><br/></h3>
      <h3>Protein:  <input type="text" name="protein" required><br/></h3>
      <h3>Carbohydrates:  <input type="text" name="carbohydrates" required><br/></h3>
      <h3>Fat:  <input type="text" name="fat" required><br/></h3>
      <h3>Fiber:  <input type="text" name="fiber" required><br/></h3>
      <h3>Sugar:  <input type="text" name="sugar" required><br/></h3>
      <h3>Serving Size: <input type="text" name="servingsize"> grams<br/></h3>
      <input type="hidden" name="numberofservingsize" value="1">
      <button class="btn btn-primary" type="submit">Create item</button>
    </form>
  </body>
</html>
