<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form action="/Nutrition/<%=userInfo[0]._id%>" method="post">
Name: <input type="text" name="name" required><br/><br/>
Calories:  <input type="text" name="calories" required><br/><br/>
Protein:  <input type="text" name="protein" required><br/><br/>
Carbohydrates:  <input type="text" name="carbohydrates" required><br/><br/>
Fat:  <input type="text" name="fat" required><br/><br/>
Fiber:  <input type="text" name="fiber" required><br/><br/>
Sugar:  <input type="text" name="sugar" required><br/><br/>
<input type="submit" value="Create item">
</form>
  </body>
</html>
